.featured-products-container {
  min-height: 96.3vh;
  background: linear-gradient(90deg, #0a0215, #1c0121) !important;
  padding: 3rem 2.5rem 0 2.5rem;
}

.product-grid {
  display: block;
  text-align: center;
}
