// mobile
.tryon-container {
  justify-content: center;
  // height: 90vh;
}
.qr-desktop-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  padding: 20px;
  color: #fff;

  .mini-title {
    font-size: 14px;
    color: #ccc;
    margin-bottom: 8px;
  }

  h2 {
    margin-bottom: 20px;
    font-size: 20px;
    color: #fff;
  }

  .desktop-shoe-carousel {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .selected-shoe-name {
      margin-top: 10px;
      font-weight: 600;
    }
  }
}
.ar-mobile-view {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to top, hsl(223, 60%, 18%), hsl(244, 100%, 25%));
  padding: 20px;
  box-sizing: border-box;

  canvas {
    width: 100%;
    height: auto;
    flex: 1;
  }

  .carousel-wrapper {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.ar-mobile-label {
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
}
